*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}

.App{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100vh;
  width:100%;
  background-image:url(./IMAGE/png3.jpg);
  background-size:cover;  
  background-repeat:no-repeat;
  background-position:center center;
  
 
}
.container{
  height:200px;
  width:200px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  z-index:1;
}

.displaycont{
  height :80px;
  background-color:black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border :2px solid black;
  width :70%;
  font-size :40px;
  border-radius:2px; 
  color:white;  
}

.btn-container{
  height :80px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  width :100%;
}

.btn1{
  display:flex;
  justify-content:center;
  align-items:center;
  height:50px;
  width:100px;
  margin:10px;
  font-size:30px;
  background-color:black;
  border-radius:5px;
  color :white;
}

.btn1:hover{
  background-color:#adadad;
}

.container2{
  height:300px;
  width:300px;
  border-right: 12px solid #000000;
  border-radius:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color:transform;
  animation:spin 1s linear infinite;
  position:absolute;
  z-index:0;
  
}
@keyframes spin{
  100%{
    transform:rotate(360deg);
  }
}